/* ==========================================================================
   [1]. Global Styles
   ========================================================================== */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   [2]. Timeline Styles
   ========================================================================== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.timeline-wrapper {
  width: 100%;
  max-width: 72rem;
  margin-inline: auto;
}

.timeline {
  position: relative;
  padding-block: 1.5rem;
  overflow: hidden;
}

/* ==========================================================================
   [3]. Timeline History Line Styles
   ========================================================================== */
.timeline-history-line {
  position: relative;
  width: 100%;
  height: 3rem;
}

.timeline-history-line:before,
.timeline-history-line:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1.5rem;
  z-index: 3;
}

.timeline-history-line:before {
  left: 0;
  background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.timeline-history-line:after {
  right: 0;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.timeline-history-line-events {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c3c3c2;
  z-index: 1;
}

.timeline-history-line-events:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20%;
  height: 2px;
  background-color: #fed100;
  z-index: 1;
}

/* ==========================================================================
   [3]. Timeline Controls Styles
   ========================================================================== */
.timeline-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: calc(100%);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 60;
}

.timeline-controls button {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #c3c3c2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #c3c3c2;
}

.timeline-controls button:hover {
  color: #fed100;
  border-color: #fed100;
}

/* ==========================================================================
   [4]. Timeline Content Styles
   ========================================================================== */
.timeline-history-content-top,
.timeline-history-content-bottom {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  z-index: 9;
}

.timeline-history-content-top {
  transform: translate(0, 1.875rem);
}

.timeline-history-content-bottom {
  transform: translate(11rem, -1.875rem);
}

/* ==========================================================================
   [4.1]. Timeline Card Styles
   ========================================================================== */
.timeline-card {
  position: relative;
  width: 18rem;
  margin-inline: 3rem;
}

.timeline-card a {
  text-decoration: none;
  color: #c3c3c2;
}

.timeline-card.is-active a {
  color: #000000;
}

.timeline-card .timeline-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.timeline-card .timeline-meta .timeline-date {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  background-color: #c3c3c2;
}

.timeline-card.is-active .timeline-meta .timeline-date {
  background-color: #fed100;
}

.timeline-card .timeline-connector {
  width: 2px;
  margin-left: 21px;
  background-color: #c3c3c2;
  height: 1.875rem;
}

.timeline-card.is-active .timeline-connector {
  background-color: #fed100;
}

.timeline-card .timeline-bullet {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #c3c3c2;
  border-radius: 50%;
  margin-left: 1rem;
}

.timeline-card.is-active .timeline-bullet {
  background-color: #fed100;
}

/* ==========================================================================
   [4.1]. Timeline Overlay Styles
   ========================================================================== */
.timeline-overlay {
  position: absolute;
  inset: 0;
  z-index: 30;
  background: linear-gradient(
    90deg,
    #ffffff 3%,
    rgba(255, 255, 255, 0) 9%,
    rgba(255, 255, 255, 0) 91%,
    #ffffff 97%
  );
}
